// Add you general and shared styles here
h1 {
  font-size: 24px;
  line-height: 28px;
  font-family: Oswald;
  font-weight: 500;
  color: #74787B;
  letter-spacing: -0.165px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

body {
  font-family: Source Sans Pro;
  color: #74787B;
  letter-spacing: -0.165px;
}

.authInput {
  width: 328px;
}

.message-input {
  background-color: #F9F9F9;
  padding: 10px;
  margin-bottom: 20px;
}

.authFormBorder {
  border: 1px solid #F6F3F3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 64px 34px 50px 34px;
}

.primary-color {
  color: #67ADBF;
}

.dark-color {
  color: #6B6E72;
}

.primary-background-color {
  background-color: #67ADBF !important;
}

.drawer {
  width: 26vw;
  min-width: 160px;
  max-width: 375px;
  background-color: #67ADBF !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.nav-drawer{
  width: 26vw;
  min-width: 160px;
  max-width: 375px;
  flex-shrink: 0 !important;
  //background-color: #67ADBF !important;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  /* or 115% */

  letter-spacing: -0.165px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.nav-user-container {
  height: 120px;
  margin-left: 38px;
  margin-right: 38px;
  align-items: center;
  display: flex;
}



.header {
  height: 140px;
  margin-left: 0;
  margin-right: 0;
}

.body {
  height: calc(100vh - 140px) !important;
  flex: 1;
}

.task-item {
  height: 100px;
  border-bottom: 1px solid #EFEFEF;
}

.task-item-header {
  height: 90px;
  border-bottom: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
}

.list-avatar {
  width: 48px !important;
  height: 48px !important;
}

.small-tab {
  width: 130px !important;
  font-size: 18px !important;
}

.task-scroll {
  height: calc(100vh - 230px);
}

.list-item {
  height: 80px;
  border-bottom: 1px solid #EFEFEF;
  margin-right: 15px;
  margin-left: 15px;
}

.list-item-text {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.165px;
  margin-bottom: 0;
  color: #545759;
}

.list-item-tailing {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.165px;
  text-align: right;
  color: #545759;
  margin-bottom: 0;
}

.top-border {
  border-top: 1px solid #EFEFEF;
}

.bottom-border {
  border-bottom: 1px solid #EFEFEF;
}

.button-body {
  height: 100vh;
}

.MuiInput-underline:before {
  border-bottom: 1px solid #E9EBED !important;
}

.profile-avatar {
  width: 108px !important;
  height: 108px !important;
}

.tiny-icon {
  width: 16px !important;
  height: 16px !important;
}

.warning-color {
  color: #FFC700;
}

.width-148 {
  width: 148px;
}

.max-width-820 {
  max-width: 820px;
}

.round-border {
  border: 1px solid #F6F3F3;
  box-sizing: border-box;
  border-radius: 6px;
}

.max-height-75vh {
  max-height: 75vh !important;
}

.button-border {
  border: 1px solid white !important;
}
